<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello!</title>

<style>
    body {
        background-color: rgb(53, 37, 36);
    }

    h1{
        position: center;
        color: white;
    }
    div {
        position: center;
        left: 50%;
        top: 50%;
    }
    
</style>
</head>
<body>
    <h1>Website under construction...</h1>
    <div>
    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/ddd62f106821683.5f98b0ad83d13.gif" alt="baby-yoda">
    </div>
</body>
</html>