<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello!</title>

<style>
    body {
        background-color: black;
    }
    div {
        position: relative;
        left: 50%;
        top: 50%;
    }
    
</style>
</head>
<body>
    <div>
    <img src="https://64.media.tumblr.com/085b889b15edbf21aa1b3253dc2fe071/0ee3e0aaf3f1cbac-84/s400x600/d42b57d74be9d7d51535d7459ff87d1899c4fe85.gifv" alt="baby-yoda">
    </div>
</body>
</html>